/* Estilos generales */
body {
  font-family: 'Special Elite', monospace; /* Cambiado a tipografía Roboto.  font-family: 'Roboto', sans-serif;*/
  color: #4A4A4A; /* Color de texto más oscuro */
}

/* Navbar */


/* Estilos de botones para el NavDropdown */


.navbar-color{
  background-color: #f7f7ebff; /* Color marrón oscuro */
}

.navbar-style {
  color: #000000; /* Color oscuro por defecto */
  font-size: 1rem;
  transition: color 0.2s ease-in-out; /* Opcional, pero recomendado para un cambio suave */

}

.nav-dropdown-user {
    color: #884615 !important;
}

.menu-item:hover {
    background-color: #884615 !important;
    color: white !important;
}

/* Oculta el triángulo del NavDropdown. Puedes eliminar esta regla si quieres que se muestre. */
.dropdown-toggle::after {
    display: none;
}


/* Cambia el color cuando el enlace está enfocado (con teclado) o se le pasa el mouse por encima */
.navbar-style:hover, .navbar-style:focus {
  color: #884615; /* Un color de acento para la interacción */
}

/* Cambia el color de la letra cuando se hace clic en ella (se hunde) */
.navbar-style:active {
  color: #552d0f; /* Un color más oscuro para el efecto de "hundido" */
}

/* Titulo */
.title-color {
  color: #884615; /*Titulo principal marron*/
}
.title-color-2 {
  color: #000000ff; /* Titulo secundario negro */
}

/* Estilos de Botones */
.btn-primary {
  background-color: #884615;
  color: white;
  border-color: #884615;
}

.margin-button{
  margin-bottom: 5px;
}


.btn-primary:hover {
  background-color: #6d3205ff !important;
  color: white !important;
  border-color: #6d3205ff !important;
}

.btn-primary:disabled{
    background-color: #6d3205ff !important;
  color: white !important;
  border-color: #6d3205ff !important;
}

.btn-outline-primary {
  color: #884615 !important;
  border-color: #884615 !important;
}

.btn-outline-primary:hover {
  background-color: #6d3205ff !important;
  color: white !important;
  border-color: #884615 !important;
}

.btn-danger-primary{
  background-color: #ce0000ff;
  color: white;
}

.btn-danger-primary:hover{
  background-color: #ff0000ff;
  color: white;
}


/* Logo */
  .bg-brown {
    background-color: #884615; /* mismo color que pediste */
  }
  .text-brown {
    color: #884615;
  }

/* Estilo para las columnas de enlaces */
.footer-links h6 {
  font-size: 1.1rem; /* Tamaño para los títulos de las columnas */
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-links ul {
  padding-left: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem; /* Tamaño para los enlaces */
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #d1d1d1; /* Un color ligeramente diferente al pasar el mouse */
}

/* Estilos específicos para los enlaces legales, que son de color azul en la imagen */
.legal-link {
  color: #90b3e6 !important;
}

.legal-link:hover {
  color: #80a3c6 !important;
}

/* Estilo para la línea de copyright en la parte inferior */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}

.footer-bottom small {
  font-size: 0.8rem;
}



/* Estilos del Navbar y Footer */
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important; /* Suavizado de sombra */
}

.footer {
  background-color: #884615; /* Color más claro para el footer */
}

.footer .nav-link {
  color: white !important; /* Color de texto más suave */
  transition: color 0.3s;
}

.footer .nav-link:hover {
  color: black !important; /* Color de hover del enlace */
}

/* Estilos de HomePage.js */

.card {
  background-color: #F4F4DA; /* Color de fondo más claro */
  border: none;
}

.hero-section {
  background-color: #F4F4DA; /* Color de fondo más claro */
}

.img-container {
  max-width: 100%;
  overflow: hidden;
}

.card-img-container {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px; /* Espacio superior para la imagen */
  margin-bottom: 10px;
  border-radius: 0.5rem; /* Bordes redondeados */
  overflow: hidden; /* Para que la imagen no sobresalga */
  border: 4px solid #884615; /* Borde más suave */
}

.content-section{
  background-color: #F4F4DA;
}

/* Opcional, para la alineación vertical */
.card-img-container {
  align-items: center;
}

/* La imagen sigue teniendo sus propias propiedades */
.card-img-top {
  width: 95%;
  height: 400px;
  margin-top: 10px; /* Espacio superior para la imagen */
  margin-bottom: 10px; /* Espacio inferior para la imagen */
}

.join-section {
  background-color: #F4F4DA; /* Color más claro */
}

/* Estilos de ForumsPage.js */
.forums-page{
  background-color: #F4F4DA;
}

.forums-page .card {
  border: 2px solid #884615; /* Borde más suave */
}

.forums-page .card-body h5 {
  color: #884615; /* Color del título más fuerte */
  cursor: pointer;
}

.forums-page .card-body h5:hover{
  color: #502605ff; /* Color del título más fuerte */
  cursor: pointer;
}

.title-color-section {
  background-color: #fff3ddff; 
}

.title-forums-margin {
  margin-top: 1%;
}

.button-forums-margin {
  margin-bottom: 2%;
}

.title-forums-2{
  margin-left:0.8%;
  margin-top: 1.5%;
  color: #884615; /* Color marrón oscuro */
}

/* Estilos de CreatePostPage.js */
.create-post-page{
  background-color: #F4F4DA;
}

.create-post-page .form-control {
  border-radius: 0.5rem;
}

.create-post-page .list-unstyled {
  list-style: none;
  padding: 0;
}

.form{
  margin-top: 4%;
  margin-bottom: 4%;
}

/* Estilo para el área de texto del foro */
.forum-textarea {
  background-color: #f7f3e8; /* El mismo color de fondo de las tarjetas */
  border-color: #884615;
}

/* Estilo para el botón de enviar respuesta */
.btn-send-response {
  background-color: #884615;
  border-color: #884615;
  color: white;
  white-space: nowrap; /* Evita que el texto del botón se salte de línea */
}

.post-forum{
  background-color: #F3F3D9 !important; /* Color de fondo más claro */
  border-radius: 0.5rem;
  border: 2px solid #884615 !important; /* Borde más suave */
  color: #884615 !important; /* Color de texto más oscuro *//* Borde más suave */
}

/* Estilos de RegisterPage.js */
.register-page .form-control {
  border-radius: 0.5rem;
  background-color: #F4F7F4;
  border: 1px solid #E1E1E1; /* Borde más suave */
}

/* Estilos de LoginPage.js */
.login-page .form-control {
  border-radius: 0.5rem;
  background-color: #F4F7F4;
  border: 1px solid #E1E1E1; /* Borde más suave */
}

/* Estilos de FeaturedBooksPage.js */
.featured-books-page{
  background-color: #F4F4DA;
}

.featured-books-page .card {
  border: 1px solid #E1E1E1;
  transition: transform 0.2s;
}

.featured-books-page .card:hover {
  transform: translateY(-5px);
}

.featured-books-page .card-img-top {
  object-fit: cover;
  height: 300px;
  margin-left: 2.8%;
  border-radius: 10px;
}


.filter{
  background-color: #F4F7F4; /* Color de fondo más claro */
  border-radius: 0.5rem;
  border: 1px solid #884615;
}

/* Estilos de BookDetailsPage.js */
.book-details-page{
  background-color: #F4F4DA;
}

.book-details-page .list-unstyled li {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.book-details-page p {
  font-size: 20px;
  line-height: 1.6;
  color: #4A4A4A; /* Color de texto más oscuro */
}

.book-details-page .card {
  border: 1px solid #E1E1E1;
  border-radius: 0.5rem;
  margin-top: none;
}

.book-details-page img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.title-book-details {
  margin-top: none;
  font-size: 45px;
}

/*Estilo de Inicio de sesion y Registarse*/
.login-page{
  background-color: #F4F4DA;
}

.register-page{
  background-color: #F4F4DA;
}

.login-page img{
  width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción de la image*/
}

.form-control-login {
  background-color: #F3F3D9 !important; /* Color de fondo más claro */
  border-radius: 0.5rem;
  border: 1px solid #884615 !important; /* Borde más suave */
  color: #000000ff !important; /* Color de texto más oscuro */
}

.form-control-login:focus {
  border-color: #884615; /* El color que deseas para el borde */
  box-shadow: 0 0 0 0.25rem rgba(136, 70, 21, 0.25); /* Un resplandor sutil del mismo color */
}

.register-page img{
  width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción de la image*/
}

.register-login {
  color: #884615;
  cursor: pointer; 
}

.register-login:hover{
  color: #502605ff !important;
  cursor: pointer !important; 
}

/*Promotion books*/
.promote-book-page{
  background-color: #F4F4DA;
}

.card-information{
  background-color: #F4F4DA;
}

.card-information div p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


/* dashboard*/
.nav-tabs .nav-link {
    background-color: transparent;
    color: #4b4848ff;
    border-color: transparent transparent; /* Borde inferior */
}

.nav-tabs .nav-link.tab-active {
    background-color: #F4F4DA; /* Color de fondo para la pestaña activa */
    color: #502605ff; /* Color de texto para la pestaña activa */
    border-color: #adb1b6ff #adb1b6ff #F4F4DA; /* Borde para la pestaña activa */
}

.admin-dashboard{
  background-color: #F4F4DA;
}

.admin-table {
    background-color: #F4F4DA; /* Color de fondo de la tabla */
}

.admin-table thead th {
    background-color: #e0e0c5; /* Un color ligeramente más oscuro para la cabecera, opcional */
}

.admin-table tbody tr:nth-child(even) {
    background-color: #f0f0d5; /* Un color ligeramente diferente para filas pares, opcional */
}

.admin-table tbody tr:hover {
    background-color: #e8e8cc; /* Un color al pasar el ratón, opcional */
}

.card-color{
  background-color: #F3F3D9; 
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
  .hero-section .img-container {
    margin-top: 2rem;
  }
}
