.icon-circle-sm {
  width: 32px;
  height: 32px;

}

.icon-color{
    color: #884615;
}

.icon-circle-lg {
  width: 64px;
  height: 64px;
}

.decorative-circle-top {
  width: 128px;
  height: 128px;
  transform: translate(25%, -50%);
}

.decorative-circle-bottom {
  width: 96px;
  height: 96px;
  transform: translate(-50%, 25%);
}

.icon-sm {
  font-size: 16px;
  background-color: #F4F4DA;
}

.icon-lg {
  font-size: 24px;
}

.separacion {
    margin-top: 50px;
    margin-left: 160px
}

.bottom-space {
    margin-left: 100px;
}

.bottom-color1 {
    color: #ffffff;
    background-color: #884615;
}

.bottom-color1:hover {
    background-color: #b35e1a;
    color: #ffffff;
}

.bottom-color2 {
    color: #884615;
    background-color: transparent;
    border: 2px solid #884615;
}

.bottom-color2:hover {
    background-color: #884615;
    color: #ffffff;
    border: 2px solid #884615;
}

.title-color {
    color: #884615;
}

.title-color-2 {
    color: #000000;
}

.text-size{
    font-size: 25px;
}

.img-separation {
    margin-top: 40px;
    margin-left: 20px;
}